@model IEnumerable<MvcCRUDAppUsingWebApi.Models.Student>

@{
    ViewData["Title"] = "Index";
    var tempVal = @TempData["status_message"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



@if (tempVal != null)
{
    <div class="alert alert-success" role="alert">
        @tempVal
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.standard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fatherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.standard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fatherName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
